body {
  margin: 0;
  font-family: 'Hiragino Sans', '游ゴシック Medium', "Yu Gothic Medium", "游ゴシック", "Yu Goth", Meiryo, メイリオ, Osaka, arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
